<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/admin/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/admin/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/toast/izitoast.min.css" rel="stylesheet" />
    <link href="~/admin/css/style.css" rel="stylesheet" />
    <link href="~/admin/css/components.css" rel="stylesheet" />
    <link href="~/lib/tabulator/dist/css/tabulator.min.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                    </ul>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep"><i class="far fa-envelope"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">
                                Messages
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">Hi, Ujang Maman</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">Logged in 5 min ago</div>
                            <a href="features-profile.html" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profile
                            </a>
                            <a href="features-activities.html" class="dropdown-item has-icon">
                                <i class="fas fa-bolt"></i> Activities
                            </a>
                            <a href="features-settings.html" class="dropdown-item has-icon">
                                <i class="fas fa-cog"></i> Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html">Stisla</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="index.html">St</a>
                    </div>
                    @await Component.InvokeAsync("Leftbar")
                </aside>
            </div>
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>@ViewBag.Title</h1>
                    </div>
                </section>
                @RenderBody()
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2024 <div class="bullet"></div>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>

    <script src="~/admin/js/jquery.min.js"></script>
    <script src="~/admin/js/popper.js"></script>
    <script src="~/lib/toast/izitoast.min.js"></script>
    <script src="~/admin/js/tooltip.js"></script>
    <script src="~/admin/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admin/js/jquery.nicescroll.min.js"></script>
    <script src="~/admin/js/moment.min.js"></script>
    <script src="~/admin/js/chart.min.js"></script>
    <script src="~/admin/js/stisla.js"></script>
    <script src="~/admin/js/scripts.js?v=@DateTime.Now.Ticks.ToString()"></script>
    <script src="~/admin/js/custom.js?v=@DateTime.Now.Ticks.ToString()"></script>
    <script src="~/js/common.js?v=@DateTime.Now.Ticks.ToString()"></script>
    <script src="~/lib/tabulator/dist/js/tabulator.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false);
</body>

</html>
